/* Style for the flying burrito */

/* CSS selector based on class, color */

.user{
  color: green;
  float: right;
  width: 100px;
  
}

.main-nav{
  border-style:groove;
  border-width:5px;
  margin:10px;
  padding:0;
  list-style:none;
  width:500px;
}

.main-nav li{
  display: inline;
  padding:5px 0;
  width:75px;
  background:#485e49;
  color:#eee;
  text-align:center;
  border-left:1px solid #fff;  
}

.main-nav li:hover{
  background:#a2b3a1;
  color:#000;
}


nav form{
 float:right; 
}



/*CSS selector based on id, CSS font related attribute */
#h1{
  color: blue;
  font-family: “Courier New”, Courier, “Lucida Sans Typewriter”, “Lucida Typewriter”, monospace;
}

/*CSS selector based on hierarchical relationship, padding */
nav > form{
  padding:5px;
}

