/* Style for the flying burrito */

/* CSS selector based on class, color */

.user{
  color:green;
 float:right;
  width: 100px;  
}

.main-nav{
  border-style:groove;
  border-width:5px;
  padding:10;
  list-style:none;
  width:900px;
}

.main-nav li{
  display: inline;
  padding:10px 40;
  width:75px;
  background:#0066CC;
  color:#eee;
  text-align:center;
  border-left:1px solid #fff;  
}

.main-nav li:hover{
  background:#0066FF;
  color:#eee;
}


nav form{
 float:right;
}


/*CSS selector based on id, CSS font related attribute */
#h1{
  color: blue;
  font-family: “Courier New”, Courier, “Lucida Sans Typewriter”, “Lucida Typewriter”, monospace;
}

.groupActivity{
  color:red;
}

.monitor{
  border-style:groove;
  position:relative;
  left:500;
  bottom:500;
  height:150;
  
}

.todonext{
  border-style:groove;
  position:relative;
  left:500;
  bottom:500;
  height:150;
}

.recentlycompleted{
  border-style:groove;
  position:relative;
  left:500;
  bottom:500;
  height:150;
}

.activityDate{
  position:relative;
  left:100;
}

.groupActivityEntry{
  border-style:groove;
  width:300px;
}

